/*
 * Size & dimension inspired by the golden ratio - http://www.goldennumber.net
 */
 //Fonts
$sitefont: 'Open Sans', sans-serif;
$brandfont: 'santanablack';
$brandbylinefont: 'santanabold';

//Font sizes
$sitefontsize: 18px;
$sectionheadersize: $sitefontsize * 1.618;
$brandfontsize: $sitefontsize * 1.618 * 1.618;
$brandbylinefontsize: $sitefontsize;

//Color schemes
$sectionheadercolor: #006699;
$brandheaderbackgroundcolor: #fff8eb;
$brandcolor: darken($sectionheadercolor, 1.618*1.618%);
$brandbylinecolor: lighten($sectionheadercolor, 1.618*1.618%);
$brandcomplimentarycolor: #ffaa00;
$anchorcolor: $sectionheadercolor;
$bodycolor: #333