body {
    font-family: $sitefont;
    font-size: $sitefontsize;
    color: $bodycolor;
    line-height: 1.618;
    a {
    	color: $anchorcolor;
        @include hover-link();
    }
}

main {
    padding-top: 5px * 1.618;
    @include container(95%);
}