footer {
    font-family: $brandfont;
    font-weight: bold;
    padding: 20px;
    color: #fff;
    border-top: thick solid $brandcomplimentarycolor;
    background-color: $brandcolor;
    @include border-bottom-radius();
    div:first-child {
        float: left;
    }
    div:last-child {
        text-align: right;
        a {
            @include link-colors(#fff);
            text-decoration: underline;
		}
    }
}