main > header {
    margin: 12px 0 12px 0;
    border-bottom: thick solid $brandcomplimentarycolor;
    padding: (2px * 1.618)+12px 0;
    background-color: $brandheaderbackgroundcolor;
}

hgroup {
    line-height: 1;
    font-weight: bold;
    font-family: $brandfont;
    color: $brandcolor;
    text-align: center;
    div:first-child {
            font-size: $brandfontsize;
            border: 2px * 1.618 solid $brandcomplimentarycolor;
            width: 40px * 1.618;
            height: 40px * 1.618;
            padding: 5px;
            margin: 0 auto 0 auto;
            border-radius: 50%;
            transform: rotate(-45deg);
            background-color: $brandcolor;
            color: $brandcomplimentarycolor;
            span {
                display: inline-block;
                @include vertical-align();
            }
            &:hover {
                background-color: #fff;
                color: $brandcomplimentarycolor;
                border: 2px * 1.618 solid $brandcolor;
                transform: rotate(-90deg);
            }
        }
    h1 {
        font-size: $brandfontsize;
        text-transform: capitalize;
        margin-bottom: 2px * 1.618;
    }
    h2 {
        font-family: $brandbylinefont;
        font-size: $brandbylinefontsize;
        color: $brandbylinecolor;
        text-transform: lowercase;
        margin-bottom: 5px * 1.618;
    }
}